{% extends "base.html" %}
{% block title %}Vellum - grokable UK parliament Bills and Acts.{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h1>Vellum</h1>
    <p class="lead">Grok UK parliament bills and acts.</p>
    <form action="{{url_for('result')}}" method="post">
      <textarea id="q" name="q" rows="4" cols="40" placeholder="Enter full text of a bill or Act, or a url from legislation.gov.uk"></textarea>
      <button type="submit" class="btn btn-lg btn-success">Go</button>
    </form>
    <p id="examples" class="help-block">
      <a href="/static/examples/welfare2012.txt">Welfare reform Act 2012</a>, <a href="/static/examples/hs2.txt">High Speed Rail (London - West Midlands) Bill</a>
    </p>
  </div>

  <!-- <div class="row marketing">
    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div> -->
{% endblock %}
