{% extends "base.html" %}
{% block title %}Results for {{result.title}}{% endblock %}
{% block content %}
  {% if result %}
    <h1>{{result.title}}</h1>
    <p>
      <a href="http://www.ianvisits.co.uk/blog/2014/01/01/why-it-will-take-6000-dead-goats-to-build-the-hs2-railway/">{{result.vellum_count|round(1, 'floor')}} goats</a>, {{result.word_count}} words
    </p>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="{{result.url}}" class="btn btn-default pull-right btn-xs">View full document</a>
        <h3 class="panel-title">Description</h3>
      </div>
      <div class="panel-body">
        {{result.description}}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Definitions</h3>
      </div>
      <div class="panel-body">
        <table  class="table">
          {% for definition in result.definitions %}
            <tr>
              <td class="read">{{definition}}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Regulations</h3>
      </div>
      <div class="panel-body">
        <table  class="table">
          {% for regulation in result.regulations %}
            <tr>
              <td class="read">{{regulation}}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Other legislation mentioned</h3>
      </div>
      <div class="panel-body">
        <table  class="table">
          {% for item in result.other_legislation %}
            <tr>
              <td class="read">{{item}}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Ministerial rights</h3>
      </div>
      <div class="panel-body">
        <table  class="table">
          {% for item in result.ministerial_rights %}
            <tr>
              <td class="read">{{item}}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Ministerial responsibilities</h3>
      </div>
      <div class="panel-body">
        <table  class="table">
          {% for item in result.ministerial_responsibilities %}
            <tr>
              <td class="read">{{item}}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="fulltext" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">{{result.title}}</h4>
          </div>
          <div class="modal-body">
            {{query}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


  {% else %}
    <form action="" method="post">
      <textarea name="q" rows="4" cols="40"></textarea>
      <button type="submit" class="btn btn-default">Go</button>
    </form>
  {% endif %}

{% endblock %}
